<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">


<head layout:fragment="head">
    <title>Manage Books</title>
</head>

<body>

<main layout:fragment="main">

    <div class="container">
        <h1>Staff Library Management System</h1>

        <p class="lead">Welcome to the Bookish application</p>
        <p class="lead">Find your way around using the links above</p>

    </div>
</main>


</body>


</html>
