<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">

<head layout:fragment="head">
    <title>Manage Books Checked Out</title>
</head>

<body>

<div layout:fragment="main">

    <h1 class="membersheading">Transaction List</h1>

    <table>
        <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Book ID</th>
            <th>Book Title</th>
            <th>Member ID</th>
            <th>Member Name</th>
            <th>Date Due Back</th>
            <th>Modify</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${model.transactions}">
            <td class="id" th:text="${transaction.transactionId}"></td>
            <td class="book_id" th:text="${transaction.book.bookId}"></td>
            <td class="book_title" th:text="${transaction.book.title}"></td>
            <td class="member_id" th:text="${transaction.member.memberId}"></td>
            <td class="member_title" th:text="${transaction.member.forename} + ${transaction.member.surname}"></td>
            <td class="due" th:text="${transaction.dateDue}"></td>
            <td class="edit">Edit</td>
            <td class="trash">Delete</td>
        </tr>
        <tr id="add-book-button">
            <td class="new-row" colspan="9">Add New Transaction</td>
        </tr>
        </tbody>
    </table>

    <div class="pagebreakimage"></div>

    <div class="row" id="add-transaction-form">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center add-transaction">
            <h2>Add Transaction</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
            <form id="contact-form" class="form" action="/staff/checkin/add" method="POST" role="form">
                <div class="form-group">
                    <label class="form-label" for="member-id">Member Id</label>
                    <select class="form-control" th:field="${model.member.memberId}" name="memberId" id="member-id">
                        <option value="0">Select Member</option>
                        <option th:each="member : ${model.members}" th:value="${member.memberId}"
                                th:text="${member.forename} + ${member.surname}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="book-id">Book Id</label>
                    <select class="form-control" th:field="${model.book.bookId}" name="bookId" id="book-id">
                        <option value="0">Select Book</option>
                        <option th:each="book : ${model.books}" th:value="${book.bookId}"
                                th:text="${book.title} + ' - ' + ${book.author}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="dueDate">Date Due</label>
                    <input type="date" class="form-control" id="dueDate" name="dateDue" placeholder="Date Due"
                           tabindex="2" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-start-order addtransactionbutton">Add Transaction</button>
                </div>
            </form>
        </div>
    </div>


    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        var isEditing = false,
            tempTitleValue = "",
            tempAuthorValue = "",
            tempCopiesValue = 0,
            tempImgUrlValue = "",
            tempYearValue = 0,
            tempSynopsisValue = "";


        // Handles live/dynamic element events, i.e. for newly created edit buttons
        $(document).on('click', '.edit', function () {
            //CELL VARIABLES
            var parentRow = $(this).closest('tr'),
                tableBody = parentRow.closest('tbody'),
                tdId = parentRow.children('td.id'),
                tdTitle = parentRow.children('td.title'),
                tdAuthor = parentRow.children('td.author'),
                tdCopies = parentRow.children('td.copies'),
                tdImgUrl = parentRow.children('td.imgUrl'),
                tdYear = parentRow.children('td.publishedYear'),
                tdSynopsis = parentRow.children('td.synopsis');


            if (isEditing) {
                //On Save Click
                //NEW INPUT VARIABLES
                var titleInput = tableBody.find('input[name="title"]'),
                    authorInput = tableBody.find('input[name="author"]'),
                    copiesInput = tableBody.find('input[name="copies"]'),
                    imgUrlInput = tableBody.find('input[name="imgUrl"]'),
                    yearInput = tableBody.find('input[name="year"]'),
                    synopsisInput = tableBody.find('textarea[name="synopsis"]'),
                    tdEditCell = parentRow.children('td.edit');


                //If this cell is being edited - isolates editing row
                if ($(this).is(tdEditCell)) {
                    // Load New Values from Input Fields

                    var idVal = parseInt(tdId.text());
                    titleValue = titleInput.val();
                    authorValue = authorInput.val();
                    copiesValue = copiesInput.val();
                    imgUrlValue = imgUrlInput.val();
                    yearValue = yearInput.val();
                    synopsisValue = synopsisInput.val();

                    titleInput.empty();
                    authorInput.empty();
                    copiesInput.empty();
                    imgUrlInput.empty();
                    yearInput.empty();
                    synopsisInput.empty();

                    $.ajax({
                        url: '/staff/books/edit',
                        type: 'POST',
                        success: function () {
                            window.location.reload();
                        },
                        data: JSON.stringify({
                            bookId: idVal,
                            title: titleValue,
                            author: authorValue,
                            copies: parseInt(copiesValue),
                            imageUrl: imgUrlValue,
                            publishedYear: parseInt(yearValue),
                            synopsis: synopsisValue,
                        }),
                        contentType: 'application/json; charset=utf-8'
                    });
                } else {

                    // When two different edit buttons are clicked, reset input fields
                    titleInput.empty();
                    authorInput.empty();
                    copiesInput.empty();
                    imgUrlInput.empty();
                    yearInput.empty();
                    synopsisInput.empty();

                    // Restore values
                    titleInput.html(tempTitleValue);
                    authorInput.html(tempAuthorValue);
                    copiesInput.html(tempCopiesValue);
                    imgUrlInput.html(tempImgUrlValue);
                    yearInput.html(tempYearValue);
                    synopsisInput.html(tempSynopsisValue);
                }

                // Display static row
                tdEditCell.html('Edit');
                isEditing = false;
            } else {
                // On Edit Click
                isEditing = true;
                $(this).html('Save');

                //CELL CONTENT VARIABLES
                var idVal = parseInt(tdId.text()),
                    titleValue = tdAuthor.html(),
                    authorValue = tdTitle.html(),
                    copiesValue = tdCopies.html(),
                    imgUrlValue = tdImgUrl.html(),
                    yearValue = tdYear.html(),
                    synopsisValue = tdSynopsis.html();

                // Save current html values for canceling an edit
                tempTitleValue = titleValue;
                tempAuthorValue = authorValue;
                tempCopiesValue = copiesValue;
                tempImgUrlValue = imgUrlValue;
                tempYearValue = yearValue;
                tempSynopsisValue = synopsisValue;

                // Remove existing html values
                tdTitle.empty();
                tdAuthor.empty();
                tdCopies.empty();
                tdImgUrl.empty();
                tdYear.empty();
                tdSynopsis.empty();

                // Create input forms
                tdTitle.html(`<input type="text" name="title" value="${titleValue}">`);
                tdAuthor.html(`<input type="text" name="author" value="${authorValue}">`);
                tdCopies.html(`<input type="number" name="copies" value="${copiesValue}">`);
                tdImgUrl.html(`<input type="text" name="imgUrl" value="${imgUrlValue}">`);
                tdYear.html(`<input type="number" name="year" value="${yearValue}">`);
                tdSynopsis.html(`<textarea name="synopsis">${synopsisValue}</textarea>`);
            }
        });

        // Handles live/dynamic element events, i.e. for newly created trash buttons
        $(document).on('click', '.trash', function () {
            var parentRow = $(this).closest('tr'),
                tableBody = parentRow.closest('tbody'),
                thisEditCell = parentRow.find('td.edit'),
                // Find a cell which is being edited
                tdInput,
                tdEditCell;

            // Turn off editing if editing row is current row
            if (isEditing) {
                tdInput = tableBody.find('input').closest('td');
                tdEditCell = tdInput.parent().find('td.edit');

                if (thisEditCell.is(tdEditCell)) {
                    isEditing = false;
                }
            }

            // Get Cell ID Value
            var idVal = parentRow.children('td.id').text();

            // Remove selected row from table
            $.ajax({
                url: '/staff/books/delete',
                type: 'POST',
                success: function () {
                    window.location.reload();
                },
                data: JSON.stringify({
                    bookId: parseInt(idVal)
                }),
                contentType: 'application/json; charset=utf-8'
            });

        });

        $('#add-book-button').click(function () {
            $('#add-book-form').get(0).scrollIntoView();
        });
    </script>

</div>


</body>


</html>
