<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Bookish</title>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="stylesheet" href="/styles/about.css"/>
</head>

<body>
    <!-- Import NavBar Fragment -->
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container" layout:fragment="main">
        <p>Default Main Page Content. Please Change...</p>
    </div>

<footer class="footerdesign">All Rights Reserved. Joel and Dali 2019 Copyright.</footer>
</body>

</html>