<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Staff - Members</title>

    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/staffOverview.css"/>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <h1>Members List</h1>

    <div th:each="member : %{members.memberList}">
        <span th:text="${member.surname}"></span>
    </div>

</div>

</body>


</html>
