<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Staff - Overview</title>

    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/staffOverview.css"/>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <h1>Staff Library Management System</h1>

    <p class="lead">Welcome to the Bookish application</p>
    <p class="lead">Find your way around using the links above</p>

</div>

</body>


</html>
