<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">

<!--@thymesVar id="members" type="org.softwire.training.bookish.models.page.StaffPageMemberModel"-->

<head layout:fragment="head">
    <title>Manage Members</title>
</head>

<body>

<div layout:fragment="main">

        <h1>Members List</h1>

        <div th:each="member : ${members.memberList}">
            <p><span th:text="${member.surname}"></span></p>
        </div>

</div>



</body>


</html>
