<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">


<head>
    <title>Staff - Overview</title>
    <link rel="stylesheet" href="/styles/staffOverview.css"/>

</head>

<body>

<div layout:fragment="main">

    <h1>Staff Library Management System</h1>
    <div class="buttons-container">
        <a href="/staff/members" class="btn btn-border">Member Management</a>
        <a href="/staff/checkin" class="btn btn-border">Check In/Check Out Books</a>
        <a href="/staff/books" class="btn btn-border">Book Management</a>
    </div>
</div>

</body>


</html>
