<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">

<!--@thymesVar id="members" type="org.softwire.training.bookish.models.page.StaffPageMemberModel"-->

<head>
    <title>Manage Members</title>
    <link rel="stylesheet" href="/styles/staffMembers.css"/>
</head>

<body>

<div layout:fragment="main">

    <h1 class="membersheading">Members List</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Surname</th>
            <th>Forename</th>
            <th>Librarian?</th>
            <th>Modify</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members.memberList}">
            <td class="id" th:text="${member.memberId}"></td>
            <td class="sname" th:text="${member.surname}"></td>
            <td class="fname" th:text="${member.forename}"></td>
            <td class="librarian" th:text="${member.librarian}"></td>
            <td class="edit">Edit</td>
            <td class="trash">Delete</td>
        </tr>
        <tr id="add-member-button"><td class="new-row" colspan="6">Add New Member</td></tr>
        </tbody>
    </table>

    <div class="pagebreakimage"></div>

    <div class="row" id="add-member-form">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center addmembers">
            <h2>Add Member</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
            <form id="contact-form" class="form" action="/staff/members/add" method="POST" role="form">
                <div class="form-group">
                    <label class="form-label" for="forename">Forename</label>
                    <input type="text" class="form-control" id="forename" name="forename" placeholder="Your first name"
                           tabindex="1" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="surname">Surname</label>
                    <input type="text" class="form-control" id="surname" name="surname" placeholder="Your Surname"
                           tabindex="2" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="librarian">Librarian Staff?</label>
                    <input type="checkbox" class="form-control" id="librarian" name="librarian" placeholder="Subject"
                           tabindex="3">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-start-order">Add Member</button>
                </div>
            </form>
        </div>
    </div>


    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        var isEditing = false,
            tempIdValue = 0,
            tempFnameValue = "",
            tempSnameValue = "",
            tempLibrarianValue = "";

        // Handles live/dynamic element events, i.e. for newly created edit buttons
        $(document).on('click', '.edit', function () {
            var parentRow = $(this).closest('tr'),
                tableBody = parentRow.closest('tbody'),
                tdId = parentRow.children('td.id'),
                tdSname = parentRow.children('td.sname'),
                tdFname = parentRow.children('td.fname'),
                tdLibr = parentRow.children('td.librarian');

            if (isEditing) {
                var snameInput = tableBody.find('input[name="sname"]'),
                    fnameInput = tableBody.find('input[name="fname"]'),
                    librInput = tableBody.find('input[name="librarian"]');
                tdId = parentRow.children('td.id');
                currentEdit = tdLibr.parent().find('td.edit');

                if ($(this).is(currentEdit)) {
                    // Save new values as static html
                    var tdIdValue = parseInt(tdId.text());
                    tdFnameValue = fnameInput.prop('value');
                    tdSnameValue = snameInput.prop('value');
                    tdLibrValue = librInput.is(':checked');

                    $.ajax({
                        url: '/staff/members/edit',
                        type: 'POST',
                        success: () => {
                            console.debug('John Travolta did this');
                            window.location.reload();
                        },
                        data: JSON.stringify({
                            memberId: tdIdValue,
                            forename: tdFnameValue,
                            surname: tdSnameValue,
                            librarian: tdLibrValue
                        }),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                    });
                } else {
                    // Restore previous html values
                    fnameInput.empty();
                    snameInput.empty();
                    librInput.empty();

                    fnameInput.html(tempFnameValue);
                    snameInput.html(tempSnameValue);
                    librInput.html(tempLibrarianValue);

                }
                // Display static row
                currentEdit.html('Edit');
                isEditing = false;
            } else {
                // Display editable input row
                isEditing = true;
                $(this).html('Save');

                var tdFnameValue = tdFname.html(),
                    tdSnameValue = tdSname.html(),
                    tdLibrValue = tdLibr.html() === 'true';

                // Save current html values for canceling an edit
                tempFnameValue = tdFnameValue;
                tempSnameValue = tdSnameValue;
                tempLibrarianValue = tdLibrValue;

                // Remove existing html values
                tdFname.empty();
                tdSname.empty();
                tdLibr.empty();
                // Create input forms
                tdFname.html('<input type="text" name="fname" value="' + tdFnameValue + '">');
                tdSname.html('<input type="text" name="sname" value="' + tdSnameValue + '">');
                tdLibr.html('<input type="checkbox" name="librarian" value="' + tdLibrValue + '">');
            }
        });

        // Handles live/dynamic element events, i.e. for newly created trash buttons
        $(document).on('click', '.trash', function () {
            // Turn off editing if row is current input
            if (isEditing) {
                var parentRow = $(this).closest('tr'),
                    tableBody = parentRow.closest('tbody'),
                    tdInput = tableBody.find('input').closest('td'),
                    currentEdit = tdInput.parent().find('td.edit'),
                    thisEdit = parentRow.find('td.edit');

                if (thisEdit.is(thisEdit)) {
                    isEditing = false;
                }
            }

            var idVal = parentRow.children('td.id');

            // Remove selected row from table
            $.ajax({
                url: '/staff/members/delete',
                type: 'POST',
                success: () => {
                    window.location.reload();
                    console.debug('Bob Sagel was here');
                },
                data: JSON.stringify({
                    memberId: Integer.parseInt(idVal)
                }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
            });

        });

        $('#add-member-button').click(function () {
            $('#add-member-form').get(0).scrollIntoView();
        });
    </script>
</div>


</body>


</html>
