
/*--------------------------------------------------------------
2.0 - SEARCH FORM
--------------------------------------------------------------*/

.searchform input, .searchform button {
    float: left
}
.searchform input {
    background:#fefefe;
    border: none;
    font-family: 'Goudy Bookletter 1911', serif;;
    font-size: 14px;
    margin-right: 5px;
    padding: 10px;
    width: 216px;
    box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px
}
.searchform input:focus {
    outline: none;
    box-shadow:0 0 4px #0d76be inset;
    -moz-box-shadow:0 0 4px #0d76be inset;
    -webkit-box-shadow:0 0 4px #0d76be inset;
}
.searchform input::-webkit-input-placeholder {
    font-style: italic;
    line-height: 15px
}

.searchform input:-moz-placeholder {
    font-style: italic;
    line-height: 15px
}

.searchform button {
    background: url(https://amp.businessinsider.com/images/548b5430eab8eac00627d6fe-2560-1915.jpg);
    background-position: 48% 0%;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
    border: none;
    color:#fff;
    cursor: pointer;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 20px;
    padding: 5px;
    width:106px;
    box-shadow: 0 0 2px #2692dd inset;
    -moz-box-shadow: 0 0 2px #2692dd inset;
    -webkit-box-shadow: 0 0 2px #2692dd inset;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}
.searchform button:hover {
    opacity:.9;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Goudy Bookletter 1911', serif;
    box-sizing: border-box;
}

.search-and-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.searchform {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
    width: 339px;
}

.sort-options {
    display: flex;
    justify-content: flex-end;
}

.synopsis-par {
   height:120px;
   overflow:auto;
   -ms-overflow-style: none;
   overflow: -moz-scrollbars-none;
}

.synopsis-par::-webkit-scrollbar {
    width: 0 !important;
}