* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 800px;
    flex-grow: 1;
}

.footerdesign {
    width: 100%;
    background: url(https://amp.businessinsider.com/images/548b5430eab8eac00627d6fe-2560-1915.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 40%;
    padding: 5px 100px;
    color: white;
    font-weight: bold;
    text-align: center;
}
