nav {
    width: 100%;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;

    background: url(https://amp.businessinsider.com/images/548b5430eab8eac00627d6fe-2560-1915.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 30%;
    padding: 15px 100px;
}

.navbar-container {
    width: 100%
}

.navbar-title {
    margin: 0 5px 0 20px;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 30px;
    color: grey;
}
.navbar-title:hover {
    color: white;
}

.navbar-title a {
    color: unset;
    text-decoration: none;
}


.navbar-item {
    margin-left: 20px;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 30px;
}
.navbar-item a:hover {
    color: white;
    font-style: italic;
}

.navbar-item a {
    color: white;
    text-decoration: none;
}

.navbar-title a h1 {
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem;
  text-transform: uppercase;

  animation: background-move 10s infinite;

    background: url(https://amp.businessinsider.com/images/548b5430eab8eac00627d6fe-750-561.jpg);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

@keyframes background-move {
  0% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 0% 0%;
  }
}